<html>
<head>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Delete All Task</h1></br>
    <h1>
            <a href="/newDeveloper"> Add new Developer</a>
            <a href="/listDeveloper"> List all Developers</a>
            <a href="/newTask"> Add new Task</a>
            <a href="/listTask"> List all Tasks</a>
            <a href="/updateTask"> Update Task</a>
            <a href="/deleteById"> Delete Task By ID</a>
    </h1>
    <form action="/deleteAll" method="POST">
        Task Status<select method="POST" name='taskstatus'>
                <option value="Complete">Complete</option>
            </select> </br>
        <input type="submit" value="Submit" /> </br>
    </form>
</body>
</html>